{{#if @shouldAnimate}}

  {{#this.liquidif @isOpen use='crossFade'}}
    <div class="cp-Panel-body-inner">
      {{yield}}
    </div>
  {{/this.liquidif}}

{{else}}

  {{#if (and @isOpen (not @notDestroy))}}
    <div class="cp-Panel-body-inner">
      {{yield}}
    </div>
  {{else if @notDestroy}}
    <div class={{if @isOpen "cp-Panel-body-inner" "cp-Panel-body-inner-hide"}}>
      {{yield}}
    </div>
  {{/if}}

{{/if}}
